<!doctype html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/create_post/">Create Post</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Main site</a>
                </li>
            </ul>
        </div>


        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/accounts/login/">Login</a>
            </li>
        </ul>
    </nav>

    <form method="post" class="form">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td>
                            <input class="btn btn-primary" type="submit" value="Registrate">
                        </td>
                    </tr>
                </table>
    </form>

</body>